
> :root {
 --primary-background: #0a0a0c;
 --secondary-background: #0f0e12;
 --tertiary-background: #1c1b22;
 --color-alt-secondary: #121117;
 --color-alt-light: #302f37;
 --shade-background: #05040d;
 --secondary-shade: #18171b;
 --primary-text: #ffffff;
 --secondary-text: #b3b3b3;
 --tertiary-text: #ffffff;
 --colored-text: #b69ff6;
 --alt-text: #858585;
 --light-gray: #696a6c;
 --primary-border: #18191e;
 --secondary-border: #2a2b31;
 --dark-gray: #b3b3b3;
 --tooltip-color: #25242d;
 --tooltip-text: #ffffff;
 --scrollbar-thumb: #272727;
 --scrollbar-bg: #161616;
 }
 