:root {
  /* UI Colors */
  --color-ui-primary: #0a0a0c;
  --color-ui-secondary: #0f0e12;
  --color-ui-component-top: #1c1b22;
  --color-ui-component-content: #121117;
  --color-ui-shade: #18171b;
  --color-ui-bar: #302f37;

  /* Text Colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-tertiary: #ffffff;
  --color-text-accent: #b69ff6;
  --color-text-alt: #858585;
  --color-sidebar-icons: #b3b3b3;

  /* Border Colors */
  --color-border-primary: #18191e;
  --color-border-secondary: #2a2b31;

  /* Other Colors */
  --color-tooltip-background: #25242d;
  --color-tooltip-text: #ffffff;
  --color-scrollbar-thumb: #272727;
  --color-scrollbar-bg: #161616;
  --color-toggle-bg: #1e1835;
  --color-tab-active: rgb(255, 255, 255, 3%);

  /* Filters */
  --filter-accent-hue: 0deg;
}
