
](https://media.discordapp.net/attachments/1146868649932636190/1217572442097319976/panel_preview_gray.png?ex=660483b3&is=65f20eb3&hm=8d14f7a2103dc0dece98919bad032ad091d9dab93cccdc1352b98245e134d146&=&format=webp&quality=lossless%22%7D,%22scheme%22:%22%5C%5Cn) :root {
 --primary-background: #0a0a0c;
 --secondary-background: #0f0e12;
 --tertiary-background: #1c1b22;
 --color-alt-secondary: #121117;
 --color-alt-light: #302f37;
 --shade-background: #05040d;
 --secondary-shade: #18171b;
 --primary-text: #ffffff;
 --secondary-text: #b3b3b3;
 --tertiary-text: #ffffff;
 --colored-text: #b69ff6;
 --alt-text: #858585;
 --light-gray: #696a6c;
 --primary-border: #18191e;
 --secondary-border: #2a2b31;
 --dark-gray: #b3b3b3;
 --tooltip-color: #25242d;
 --tooltip-text: #ffffff;
 --scrollbar-thumb: #272727;
 --scrollbar-bg: #161616;
 }
 