:root {
  /* UI Colors */
  --color-ui-primary: #dfe0e2;
  --color-ui-secondary: #dfe0e2;
  --color-ui-component-top: #f2f3f5;
  --color-ui-component-content: #f2f3f5;
  --color-ui-shade: #c0c0c0;
  --color-ui-bar: #e6e6e6;

  /* Text Colors */
  --color-text-primary: #000000;
  --color-text-secondary: #484848;
  --color-text-tertiary: #ffffff;
  --color-text-accent: #7748cf;
  --color-text-alt: #444444;
  --color-sidebar-icons: #888888;

  /* Border Colors */
  --color-border-primary: #e0e0e0;
  --color-border-secondary: #ffffff;

  /* Other Colors */
  --color-tooltip-background: #000000;
  --color-tooltip-text: #ffffff;
  --color-scrollbar-thumb: #d1d1d1;
  --color-scrollbar-bg: #e3e3e3;

  /* Filters */
  --filter-accent-hue: 0deg;
}
